*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --box-shadow:rgba(255,255,255,0.5);
    --primary-color:#f1c40f;
    --btn-color:rgb(38,158,255);
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');
body{
    background-color:#bdc3c7;
    position: relative;
}
html{
    font-family: 'Fira Sans', sans-serif;

}


.heading{
    font-size: 2.4rem;
    
}
#tbl tr{
    
    padding: 30px;
    text-align: center;
    
    
}
#tbl{
    background-color: var(--white-color);
    
    border-radius: 5px;
    margin-top: 10px;
    border-spacing:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.img
{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius:5px ;
    position: absolute;
    z-index: 9999;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.show{
    display: none;
}
.body, .header{
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body{
    margin-top: 50px;
}

.btn{
    border: none;
    height: 2rem;
    font-size: 1.05rem;
   outline: none;
    border-radius: 5px;
    padding: 5px 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header__search{
    
    width: 500px;
    padding: 5px 15px;
    border-radius:40px ;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    justify-content: space-between;
    min-width: 300px ;
    background-color: white;
    -webkit-border-radius:40px ;
    -moz-border-radius:40px ;
    -ms-border-radius:40px ;
    -o-border-radius:40px ;
}
.header__search i{
    cursor: pointer;
}
.header__search:hover{
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    background-color: white;
}
.header__search:hover input,.header__search:hover ::placeholder{
    color: #000;
    
}
.header__search input{
    border: none;
    margin-right: 10px;
    background-color: transparent;
   font-size: 16px;
    flex-grow: 1;
    height: 100%;
    outline: none;
}

.btn:hover{
    color: var(--white-color);
    cursor: pointer;
}
.account{
    display: flex;
    padding:5px 10px ;
    border-radius: 10px;
    min-width: 100px;
    color: var(--black-color);
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--border-color );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
.account i{
    margin-right:5px ;
    color:var(--black-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.account:hover.account i{
    color: var(--white-color);
}
.account:hover{
    background: var(--black-color);
    color: var(--white-color);
}
.header{
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
.nav{
    width: 300px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    margin-right: 20px;
    border-radius: 5px;
    height: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.heading{
    margin: auto;
    margin-bottom: 20px;
}
.nav ul{
    list-style: none;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list.home{
    background-color: rgb(38,158,255);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.list{
    padding:10px 50px;
    width: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    position: relative;
}
.list a{
    color: rgb(102,208,230);
}
.list:hover{
    background-color: #bdc3c7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.list:hover.list a{
    color:var(--black-color) ;
}
.active{
    color: #e74c3c;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
.form__addCustomer{
    display: flex;
    width: 500px;
    position: absolute;
    
    flex-wrap: wrap;
}
.container__header{
    border-radius: 5px;
    background-color: rgb(215,235,248);
    height: 50px;
    align-items: center;
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
.btn__add{
    padding: 5px 10px;
    background-color: rgb(80,185,224);
    color: var(--white-color);
}
.btn__add:hover{
    background-color: var(--white-color);
    color: rgb(80,185,224);
}
/* 
    modal
*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    
}
.modal__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.4);
}
.modal__content{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
}
.content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__header--heading{
    font-size: 1.6rem;
    color: var(--text-color);
}

.close{
    cursor: pointer;
    font-size: 1.6rem;
}
.update{
    background: #f1c40f;
}
.delete{
    background: #e74c3c;
}
.content__form--group{
    width: 100%;
    height: 40px;
    margin-top: 1.5rem;
    /* display: flex;
    justify-content: center; */
}
.content__form .error{
    color: #e74c3c;
}
.content__form .error .content__form--input{
    border:1px solid #e74c3c;
}

.content__form--input{
    width: 100%;
    border:1px solid var(--border-color);
    outline: none;
    height: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    font-size: 1.1rem;
    -o-border-radius: 3px;
    padding: 0 10px;
}
.btn__modal{
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--btn-color);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.content__form--input:focus{
    border-color:#888;
}

/* show & hidden */
.hidden{
    display: none;
}
.show{
    display: block;
}

